.demo-card-wide {
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 80%;
}

.mdl-card__title {
	background-color: rgb(83,109,254);
}

.titulo_ofertar {
	color: white;
}

.ciudades  {
	width: 300px !important;
	display: inline-block;
	vertical-align: middle !important;
}

.campo {
	margin-right: 2em !important;
	display: inline-block;
}

#lista_ciudades {
	height: 300px !important;
	/*width: 200px !important;*/
	overflow-x:hidden !important;
	overflow-y:scroll;
}

#provincia {
	width: 60%;
	display: inline-block;
}

#provinciaBD {
	visibility: none;
}

.boton_formulario {
	margin-top: 20px;
	margin-right: 20px;
}

.label_campo {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
}