{% extends 'base.html' %}
	{% block content %}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

	<link rel="stylesheet" type="text/css" href="/static/css/style_search.css">
	<!-- Perfect scrollbar-->
	<link rel="stylesheet" type="text/css" href="/static/css/plugin/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/plugin/perfect-scrollbar.min.css">
	

	<div class="mdl-card mdl-shadow--2dp demo-card-wide">
	  <div class="mdl-card__title">
	    <h2 class="mdl-card__title-text titulo_buscar">Buscar {{categ}}</h2>
	  </div>
	  <div class="mdl-card__supporting-text">
<form id="formBuscar" action="{% url 'core.views.buscar' categ page %}" method="POST">

			<div class="campo">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
				<input class="mdl-textfield__input" type="text" id="titulo"  name="titulo" />
				<label class="mdl-textfield__label" for="titulo">Título</label>
			</div>
			</div>
			
			<div class="campo ciudades">
		
				<label>Ciudad:</label>

<button type="button" id="menu_ciudades"
        class="mdl-button mdl-js-button mdl-button--icon">
				<i class="material-icons">my_location</i>
				</button>

				<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" id="lista_ciudades"
    for="menu_ciudades">
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value=''>Cualquiera</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='ACoruna'>A Coruña</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Alava'>Álava</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Albacete'>Albacete</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Alicante'>Alicante</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Almería'>Almería</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Asturias'>Asturias</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Avila'>Ávila</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Badajoz'>Badajoz</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Barcelona'>Barcelona</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Burgos'>Burgos</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Cáceres'>Cáceres</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Cádiz'>Cádiz</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Cantabria'>Cantabria</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Castellón'>Castellón</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Ceuta'>Ceuta</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Ciudad Real'>Ciudad Real</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Córdoba'>Córdoba</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Cuenca'>Cuenca</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Girona'>Girona</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Las Palmas'>Las Palmas</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Granada'>Granada</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Guadalajara'>Guadalaja</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Guipúzcoa'>Guipúzcoa</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Huelva'>Huelva</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Huesca'>Huesca</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Jaén'>Jaén</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='La Rioja'>La Rioja</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='León'>León</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Lleida'>Lleida</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Lugo'>Lugo</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Madrid'>Madrid</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Malaga'>Málaga</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Mallorca'>Mallorca</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Melilla'>Melilla</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Murcia'>Murcia</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Navarra'>Navarra</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Orense'>Orense</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Palencia'>Palencia</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Pontevedra'>Pontevedra</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Salamanca'>Salamanca</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Segovia'>Segovia</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Sevilla'>Sevilla</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Soria'>Soria</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Tarragona'>Tarragona</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Tenerife'>Tenerife</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Teruel'>Teruel</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Toledo'>Toledo</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Valencia'>Valencia</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Valladolid'>Valladoliz</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Vizcaya'>Vizcaya</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Zamora'>Zamora</li>
<li class="mdl-menu__item" onclick="rellenarCiudad(this)" value='Zaragoza'>Zaragoza</li>
</ul>
				


				<!--
					<select class="custom-dropdown__select custom-dropdown__select--white entrada basic" name="provincia">
						<option selected value='' >Cualquiera</option>
		                <option value='ACoruna' >A Coruña</option>
		                <option value='Alava'>Álava</option>
		                <option value='Albacete' >Albacete</option>
		                <option value='Alicante'>Alicante</option>
		                <option value='Almería' >Almería</option>
		                <option value='Asturias' >Asturias</option>
		                <option value='Avila' >Ávila</option>
		                <option value='Badajoz' >Badajoz</option>
		                <option value='Barcelona'>Barcelona</option>
		                <option value='Burgos' >Burgos</option>
		                <option value='Cáceres' >Cáceres</option>
		                <option value='Cádiz' >Cádiz</option>
		                <option value='Cantabria' >Cantabria</option>
		                <option value='Castellón' >Castellón</option>
		                <option value='Ceuta' >Ceuta</option>
		                <option value='Ciudad Real' >Ciudad Real</option>
		                <option value='Córdoba' >Córdoba</option>
		                <option value='Cuenca' >Cuenca</option>
		                <option value='Gerona' >Gerona</option>
		                <option value='Girona' >Girona</option>
		                <option value='Las Palmas' >Las Palmas</option>
		                <option value='Granada' >Granada</option>
		                <option value='Guadalajara' >Guadalajara</option>
		                <option value='Guipúzcoa' >Guipúzcoa</option>
		                <option value='Huelva' >Huelva</option>
		                <option value='Huesca' >Huesca</option>
		                <option value='Jaén' >Jaén</option>
		                <option value='La Rioja' >La Rioja</option>
		                <option value='León' >León</option>
		                <option value='Lleida' >Lleida</option>
		                <option value='Lugo' >Lugo</option>
		                <option value='Madrid' >Madrid</option>
		                <option value='Malaga' >Málaga</option>
		                <option value='Mallorca' >Mallorca</option>
		                <option value='Melilla' >Melilla</option>
		                <option value='Murcia' >Murcia</option>
		                <option value='Navarra' >Navarra</option>
		                <option value='Orense' >Orense</option>
		                <option value='Palencia' >Palencia</option>
		                <option value='Pontevedra'>Pontevedra</option>
		                <option value='Salamanca'>Salamanca</option>
		                <option value='Segovia' >Segovia</option>
		                <option value='Sevilla' >Sevilla</option>
		                <option value='Soria' >Soria</option>
		                <option value='Tarragona' >Tarragona</option>
		                <option value='Tenerife' >Tenerife</option>
		                <option value='Teruel' >Teruel</option>
		                <option value='Toledo' >Toledo</option>
		                <option value='Valencia' >Valencia</option>
		                <option value='Valladolid' >Valladolid</option>
		                <option value='Vizcaya' >Vizcaya</option>
		                <option value='Zamora' >Zamora</option>
		                <option value='Zaragoza'>Zaragoza</option>
		            </select>-->
		            
		            
		            
				<input class="mdl-textfield__input" type="text" id="provincia"  value="Cualquiera" disabled/>
				<input class="mdl-textfield__input" type="text" id="provinciaBD"  name="provincia"  value="" />
				
			
		        
		        </div>

			<br>
			<div class="campo">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
				<input class="mdl-textfield__input" type="text" id="direccion"  name="direccion"/>
				<label class="mdl-textfield__label" for="direccion">Dirección</label>
			</div>
			</div>
			
			{% ifequal categ "empleo" %}

			<div class="campo">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
				    <input class="mdl-textfield__input" type="text" pattern="[0-9]+(\.[0-9]{1,2})?" id="sueldo" name="sueldo" />
				    <label class="mdl-textfield__label" for="sueldo">Sueldo (€)</label>
				    <span class="mdl-textfield__error">No es un sueldo válido</span>
			  	</div>
			  	</div>
			  	<br>
			{% else %}
			<div class="campo">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
				    <input class="mdl-textfield__input" type="text" pattern="[0-9]+(\.[0-9]{1,2})?" id="precio" name="precio" />
				    <label class="mdl-textfield__label" for="precio">Precio (€)</label>
				    <span class="mdl-textfield__error">No es un precio válido</span>
			  	</div>
			  	</div>
			  	<br>

			{% endifequal %}

			{% ifequal categ "ocio" %}
			<div class="campo">
				<div class="mdl-textfield mdl-js-textfield textfield-demo">
					<input class="mdl-textfield__input datepicker" type="text" pattern="[0-3][0-9]/[0-1][0-9]/[0-9]{4}" id="fDesde" name="fDesde" readonly/>
				    <label class="mdl-textfield__label" for="fDesde"></label>
				    <div class="mdl-tooltip mdl-tooltip--large" for="fDesde">
						Desde
					</div>
				    <span class="mdl-textfield__error">No es una fecha válida</span>
			  	</div>
			  	</div>
			<div class="campo">
				<div class="mdl-textfield mdl-js-textfield textfield-demo">
					<input class="mdl-textfield__input datepicker" type="text" pattern="[0-3][0-9]/[0-1][0-9]/[0-9]{4}" id="fHasta" name="fHasta" readonly/>
				    <label class="mdl-textfield__label" for="fHasta"></label>
				    <div class="mdl-tooltip mdl-tooltip--large" for="fHasta">
						Hasta
					</div>
				    <span class="mdl-textfield__error">No es una fecha válida</span>
			  	</div>
			  	</div>
			  	<br>
			{% endifequal %}
			{% ifequal categ "empleo" %}
			<div class="campo">
				<div>
					<label>Periodo:</label>
						<select class="entrada" name="periodo">
                           <option value="">Indiferente</option>
                           <option value="horas">Por horas</option>
                           <option value="3m">3 meses</option>
                           <option value="6m">6 meses</option>
                           <option value="1anno">1 año</option>
                           <option value="indef">Indefinido</option>
                       </select>
				</div>
				</div>
				<br>
			{% endifequal %}
				
			{% ifequal categ  "ocio" %}

			<div class="campo">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
				    <input class="mdl-textfield__input" type="text" pattern="[1-9][0-9]*" id="aMax" name="aMax" />
				    <label class="mdl-textfield__label" for="aMax">Aforo máximo</label>
				    <span class="mdl-textfield__error">No es un número válido</span>
			  	</div>
			  </div>
			  	<br>
			{% endifequal %}
			{% ifequal categ "vivienda" %}
			<div class="campo">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
				    <input class="mdl-textfield__input" type="text" pattern="[1-9][0-9]*" id="nHabit" name="nHabit" />
				    <label class="mdl-textfield__label" for="nHabit">Nº de habitaciones</label>
				    <span class="mdl-textfield__error">No es un número válido</span>
			  	</div>
			  </div>	
			  	<br>

			<div class="campo">
			<div>
				Tipo:
			</div>
			  	<div>
				  	<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
						<input type="radio" id="option-1" class="mdl-radio__button" name="tipo" value="alquiler" checked />
						<span class="mdl-radio__label">Alquiler</span>
					</label>
					<br>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
						<input type="radio" id="option-2" class="mdl-radio__button" name="tipo" value="venta" />
						<span class="mdl-radio__label">Venta</span>
					</label>

				</div>
			</div>
				<br>

			{% endifequal%}

			<!--<input type="submit" value="Buscar" class="boton_formulario">-->
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect boton_formulario">Buscar</button>
			<button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect boton_formulario" onclick="return confirm('¿Seguro que quieres restablecer el formulario?')"/>Restablecer</button>
		</form>

	  </div>

	</div>

<script type="text/javascript" src="/static/js/formBusqueda.js"></script>
<script type="text/javascript" src="/static/js/plugin/perfect-scrollbar.jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/plugin/perfect-scrollbar.jquery.js"></script>
	<script type="text/javascript" src="/static/js/plugin/perfect-scrollbar.js"></script>
	<script type="text/javascript" src="/static/js/plugin/perfect-scrollbar.min.js"></script>
	{% endblock %}