{% extends 'base.html' %}
	{% block content %}
		<h3>Resultados de la busqueda</h3>
		{% ifequal categoria "ocio" %}
			{% for i in record %}
						
				<div class="mdl-card mdl-shadow--2dp demo-card-wide cardEvent">
					<div class="mdl-card__title" style="background:url('/static/images/{{i.Imagen}}') center / cover">
						<h2 class="mdl-card__title-text">{{i.Titulo}}</h2>
					</div>
					<div class="mdl-card__supporting-text dataEvent">
						<div class="datosEvento">
							<span>{{i.Ciudad}}</span>
							<br>
							<span>{{i.Direccion}}</span>
							<br>
							<span>{{i.Fecha}}</span>
							<br>
							<span>{{i.Hora}}</span>
						</div>

						<div class="precio">
							{% ifequal i.Precio "0" %}
							<span class="precio">Gratis</span>
							{% else %}
							<span class="precio">{{i.Precio}} €</span>
							{% endifequal %}
						</div>
						
					</div>
					
					
				</div>
				
				<br>

			{% endfor %}
		{% endifequal %}

		{% ifequal categoria "vivienda" %}
			{% for i in record %}
			<div class="mdl-card mdl-shadow--2dp demo-card-wide cardEvent">
					<div class="mdl-card__title" style="background:url('/static/images/{{i.Imagen}}') center / cover">
						<h2 class="mdl-card__title-text">{{i.Titulo}}</h2>
					</div>
					<div class="mdl-card__supporting-text dataEvent">
						<div class="datosEvento">
							<span>{{i.Ciudad}}</span>
							<br>
							<span>{{i.Direccion}}</span>
							<br>
							<span>{{i.Fecha}}</span>
							<br>
							<span>{{i.Hora}}</span>
						</div>

						<div class="precio">
							{% ifequal i.Precio "0" %}
							<span class="precio">Gratis</span>
							{% else %}
							<span class="precio">{{i.Precio}} €</span>
							{% endifequal %}
						</div>
						
					</div>
					
					
				</div>
				
				<br>

			{% endfor %}
		{% endifequal %}

		{% ifequal categoria "empleo" %}
			{% for i in record %}

			<div class="mdl-card mdl-shadow--2dp demo-card-wide cardEvent">
				<div class="mdl-card__title" style="background:url('/static/images/{{i.Imagen}}') center / cover">
					<h2 class="mdl-card__title-text">{{i.Titulo}}</h2>
				</div>
				<div class="mdl-card__supporting-text dataEvent">
					<div class="datosEvento">
						<span>{{i.Ciudad}}</span>
						<br>
						<span>{{i.Direccion}}</span>
						<br>
						<span>{{i.Fecha}}</span>
						<br>
						<span>{{i.Hora}}</span>
					</div>

					<div class="precio">
						{% ifequal i.Precio "0" %}
						<span class="precio">Gratis</span>
						{% else %}
						<span class="precio">{{i.Precio}} €</span>
						{% endifequal %}
					</div>
				</div>
			</div>
			
			<br>

			{% endfor %}
		{% endifequal %}

		{% if record|length == 0 %}
			<h4 id="sin_resultados">Ningún resultado coincide con su búsqueda</h4>
		{% endif %}


		<div class="pagination">
		    <span class="step-links">
		        {% if record.has_previous %}
		            <a id="prev" href="{% url 'core.views.buscar' categoria record.previous_page_number %}">Anterior</a>
		        {% endif %}

		        <span class="current">
		            Página {{ record.number }} de {{ record.paginator.num_pages }}
		        </span>

		        {% if record.has_next %}
		            <a id="next" href="{% url 'core.views.buscar' categoria record.next_page_number %}">Siguiente</a>
		        {% endif %}
		    </span>
		</div>

	{% endblock %}

